* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {
    font-size: 62.5%;
}

body {
    background: #000000;
    font-size: 1.6rem;
}

.container-buttons {
    margin: 3rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

button {
    background: #79cb15;
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    color: #000000;
    font-size: 1.6rem;
    font-weight: 600;
    cursor: pointer;
    width: 13rem;
}

button:hover {
    opacity: 0.8;
}

ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 20rem);
    gap: 2rem;
    justify-content: center;
}

li {
    border: 2px solid #8133ff;
    border-radius: 0.5rem;
    padding: .5rem;
}

img {
    width: 100%;
    border-radius: 0.5rem;
}

p {
    color: #ffffff;
}

.item-price {
    color: #79cb15;
    font-weight: 600;
}